@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --background: 341 100% 100%;
    --foreground: 341 5% 10%;
    --card: 341 50% 100%;
    --card-foreground: 341 5% 15%;
    --popover: 341 100% 100%;
    --popover-foreground: 341 100% 10%;
    --primary: 341 94% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 341 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 303 30% 95%;
    --muted-foreground: 341 5% 40%;
    --accent: 303 30% 90%;
    --accent-foreground: 341 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 341 5% 100%;
    --border: 341 30% 82%;
    --input: 341 30% 50%;
    --ring: 341 94% 46%;
    --radius: 1rem;
  }

  .dark {
    --background: 341 50% 10%;
    --foreground: 341 5% 100%;
    --card: 341 50% 10%;
    --card-foreground: 341 5% 100%;
    --popover: 341 50% 5%;
    --popover-foreground: 341 5% 100%;
    --primary: 341 94% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 341 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 303 30% 25%;
    --muted-foreground: 341 5% 65%;
    --accent: 303 30% 25%;
    --accent-foreground: 341 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 341 5% 100%;
    --border: 341 30% 50%;
    --input: 341 30% 50%;
    --ring: 341 94% 46%;
    --radius: 1rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.content-block {
  @apply transition-colors duration-200;
}

.content-block.light {
  @apply bg-background text-foreground;
}

.content-block.dark {
  @apply bg-background text-foreground;
}